.staff-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 5REM;
    max-width: 90%;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
    background-color:#f8f8f8;


}
.staff-title {
    text-align: center;
    margin-top: 4rem;
}