.register-logo {
    margin: auto;
    text-align: center;
 margin-top: 2rem;
 font-size: 3rem;
}
.register--form-wraper {
margin: 2rem auto;
    width: 40rem;
  }
.reg-form {
    margin: auto;
    /* margin-top: 3rem; */
    padding: 1.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 40rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
.edit--form-right {
 padding-top: 3rem;
    width: 45%;
}
.edit--form-left {
    width: 45%;
}
.reg-form label {
    font-weight: 600;
    padding: 0.5rem 0;
}
.reg--form-buttons {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
 }
 .btn-login {
    background-color: inherit;
    color: #be1010;
    border: none;
    padding: 0;
}
.btn-login:hover {
    background-color: inherit;
    color: #b33030;
}