.form-wraper {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 10rem;
    padding: 2rem;
    padding-bottom: 1rem;
    max-width: 30rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    border-radius: 10px;
}
.station-name {
    padding-bottom: 1rem;
}
.edit--station-buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}